<% include partials/header %>
  <div class="container">
    <div>

        <h1 class="display-4 my-4">Survey Questions
        </h1>
        </div>
            <h2 class="my-3">About You</h2>
            <form id="user-input-form" name="name-insert" action="/matchup" method="POST">
              <div class="form-group">
                <label for="InputProductName">Name (Required)</label>
                <input type="text" id="prod-name-input" class="form-control" name="name">
              </div>

              <div>
                <label for="artis">Link to Photo Image (Required)
              </label>
                <input type="text" id="image-url-input" class="form-control" name="photo">
              </div>
   
      <div>
        <label for="artis"><br><h3>Question 1.</h3>Your mind is always buzzing with unexplored ideas and plans.</label>
  
                <input type="text" id="image-url-input" class="form-control" name="q1">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 2.</h3>Generally speaking, you rely more on your experience than your imagination.
.</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q2">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 3.</h3>You find it easy to stay relaxed and focused even when there is some pressure.
.</label>
  
         <input type="text" id="image-url-input" class="form-control" name="q3">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 4.</h3>You rarely do something just out of sheer curiosity.</label>
    <input type="text" id="image-url-input" class="form-control" name="q4">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 5.</h3>People can rarely upset you.</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q5">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 6.</h3>It is often difficult for you to relate to other people’s feelings.
</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q6">
              </div>
      </div>


           <div>
        <label for="artis"><br><h3>Question 7.</h3>In a discussion, truth should be more important than people’s sensitivities.</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q7">
              </div>
      </div>

       <div>
        <label for="artis"><br><h3>Question 8.</h3>You rarely get carried away by fantasies and ideas.</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q8">
              </div>
      </div>


       <div>
        <label for="artis"><br><h3>Question 9.</h3>You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</label>
  
   <input type="text" id="image-url-input" class="form-control" name="q9">
              </div>
      </div>
      
 <div>
        <label for="artis"><br><h3>Question 10.</h3>You feel more energetic after spending time with a group of people.
        </label>
   <input type="text" id="image-url-input" class="form-control" name="q10">
              </div>
      </div>

      <div>
      <input type="submit" value="Submit" class="u-full-width">
    </div>

  </div>
  </form>
  <% include partials/footer %>



