<% include partials/header %>
  <div class="container bg-dark">
    <div>
              <h1 class="display-4 text-center my-4 text-light">We're sorry, Insufficient Funds</h1>
              <p class="text-center text-white">
                Please Try Back Later
              </p>
  <br>
 </div>
 

  </div>
  <% include partials/footer %>



