<% include partials/header %>
    <header>
        <h1 class="display-3 text-center my-4">Our Products</h1>
    </header>
    <div class="container">
        <div class="row">
                <table id="table" class="table" >  
                        <thead>  
                            <tr>  
                                <th scope="col">Product Name</th>  
                                <th scope="col">Dept</th>  
                                <th scope="col">Qty Available</th>  
                                <th scope="col">Price</th>  
                                
                            </tr>  
                        </thead>  
                         <tbody>  
                            <tr scope = "row">  
                                <td><%= name %></td>  

                                
                            </tr>                                   
                         
                         </tbody>
                    </table>

        </div>
  
    </div>
    <% include partials/footer %>
